name: Deployment

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]
  workflow_dispatch:



jobs:
  deploy-networking:
    permissions:
      contents: read
      id-token: write # Required for Workload Identity Federation
    uses: './.github/workflows/networking.yaml'
    with:
      dpl-env: prod
      environment: ${{ github.ref == 'refs/heads/main' && 'prod' || 'dev' }}
    secrets: inherit

  deploy-data:
    permissions:
      contents: read
      id-token: write # Required for Workload Identity Federation
    uses: './.github/workflows/data.yaml'
    with:
      dpl-env: prod
      environment: ${{ github.ref == 'refs/heads/main' && 'prod' || 'dev' }}
    secrets: inherit
