name: CICD Engine
run-name: CICD Engine for ${{ vars.APP_NAME }} by @${{ github.actor }}
on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]
  workflow_dispatch:
env:
  ENV_NAME: ${{ github.ref == 'refs/heads/main' && 'prod' || 'dev' }}


jobs:
  deploy-networking:
    permissions:
      contents: read
      id-token: write # Required for Workload Identity Federation
    uses: './.github/workflows/networking.yaml'
    with:
      environment: ${{ github.ref == 'refs/heads/main' && 'prod' || 'dev' }}
    secrets: inherit

  run_data_deploy:
    needs: [deploy-networking]
    permissions:
      contents: read
      id-token: write # Required for Workload Identity Federation
    uses: './.github/workflows/data.yaml'
    with:
      environment: ${{ github.ref == 'refs/heads/main' && 'prod' || 'dev' }}
    secrets: inherit

  deploy-app:
    needs: [run_data_deploy]
    permissions:
      contents: read
      id-token: write # Required for Workload Identity Federation
    uses: './.github/workflows/app.yaml'
    with:
      environment:  ${{ github.ref == 'refs/heads/main' && 'prod' || 'dev' }}
    secrets: inherit
