name: GCP CICD Engine
run-name: GCP CICD Engine for ${{ vars.APP_NAME }} by @${{ github.actor }}
on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]
  workflow_dispatch:


jobs:
  # deploy_networking:
  #   permissions:
  #     contents: read
  #     id-token: write # Required for Workload Identity Federation
  #   uses: './.github/workflows/gcp_networking.yaml'
  #   with:
  #     environment: ${{ github.ref == 'refs/heads/main' && 'prod' || 'dev' }}
  #   secrets: inherit

  # run_data_deploy:
  #   needs: [deploy_networking]
  #   permissions:
  #     contents: read
  #     id-token: write # Required for Workload Identity Federation
  #   uses: './.github/workflows/gcp_data.yaml'
  #   with:
  #     environment: ${{ github.ref == 'refs/heads/main' && 'prod' || 'dev' }}
  #   secrets: inherit

  deploy_app:
    # needs: [run_data_deploy]
    permissions:
      contents: read
      id-token: write # Required for Workload Identity Federation
    uses: './.github/workflows/gcp_api.yaml'
    with:
      environment:  ${{ github.ref == 'refs/heads/main' && 'prod' || 'dev' }}
    secrets: inherit
